<p><%= task.content %> </p>


<div class="row clearfix"> 
    <% if task.completed? %>
    <div class="complete">
      <%= link_to "mark as complete", complete_project_task_path(@project, task.id), method: :patch %>
    </div>
    <div class="task">
        <p style = "opacity: 0.4;"><strike><%= task.content %></strike></p>
    </div>
    <div class="trash">
     <%= link_to "Delete", project_task_path(@project, task.id), method: :delete, data: { confirm: " are you sure?" } %>
    </div>
</div>